@use '../../utils' as *;

.news-card {
    background: $white-bg;
    border: none !important;
    border-radius: 15px !important;
    padding: 15.24px;
    margin-bottom: 24px;
    figure {
        margin-bottom: 0;
        .news-img {
            object-fit: cover;
            object-position: center;
            height: clamp(120px, 14.8vw, 310px);
            width: 100%;
            margin: 0 auto;
            display: block;
            border-radius: 12px;
        }
    }
    .desc {
        h6 {
            font-family: $font-1;
            color: $black-clr;
            font-size: clamp(14px, 3vw, 18px);
            line-height: clamp(18px,4vw, 24px);
            margin-top: clamp(10px,2vw,19px);
            margin-bottom: 10px;
            font-weight: 600;
        }
        .author-area {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            gap: 8px;
            flex-wrap: wrap;
            margin-bottom: clamp(10px,2vw,19px);
            .auth-ico {
                height: 34px;
                width: 34px;
                object-fit: cover;
                object-position: center;
                border-radius: 50%;
            }
            span {
                font-family: $font-1;
                font-size: clamp(16px, 2.3vw, 20px);
                line-height: normal;
                color: $grey-clr-3;
                text-transform: capitalize;
                display: inline-flex;
                letter-spacing: -0.571px;
            }
        }

        .read-btn {
            @include gradBtn($font-1,600,18px,60px,100%,11.43px);
            gap: 9px;
            svg {
                color: $white-clr;
                font-size: clamp(16px,2vw,23px);
                transition: all 0.5s ease-in-out;
            }
        }
    }
}