@use '../../utils' as *;

.home-area {
    .stats-box {
        border-radius: 24px;
        border: none;
        margin-bottom: 30px;
        &.invest-box-area {
            padding: 17px 27px 16px;
            .head-area {
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin-bottom: 18px;
                h5 {
                    @include xsHead(600);
                    font-weight: 600;
                }
                .add-btn {
                    gap: 13px;
                    @include gradBtn($font-1,600,18px,54px,219px,100px);
                    justify-content: flex-start;
                    &>.icon {
                        height: 42px;
                        width: 42px;
                        background: $white-bg;
                        border-radius: 50%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        .gradient-icon {
                            
                        }
                        &>svg {
                            background: $gradient-bg;
                            -webkit-background-clip: text;
                            -webkit-text-fill-color: transparent;
                          
                        }
                    }
                }
            }
        }
        &.recommend-box-area {
            padding: 23px 17px 16px;
            .head-area {
                margin-bottom: 18px;
                h5 {
                    @include xsHead(600);
                    font-weight: 600;
                }
            }
        }
    }
}