@use '../../utils' as *;

.invest-details {
    .invest-box {
        padding: 16px;
        border-radius: 16px;
        border: 0.5px solid $border-clr;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        gap: 16px;
        &:not(:last-child) {
            margin-bottom: 24px;
        }
        figure {
            margin: 0;
            .logo {
                height: 42px;
                width: auto;
                object-fit: contain;
                object-position: center;
            }
        }
        .desc {
            h6 {
                @include boxHead(600,$black-clr,capitalize);
            }
            span {
                @include boxSpan($grey-clr-2,16px);
            }
        }
    }
}
