@use '../../utils' as *;

.stock-box {
    padding: 12px 20px 12px 12px;
    border-radius: 8px !important;
    border: none !important;
    flex-direction: row !important;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
    &:not(:last-child) {
        margin-bottom: 16px;
    }
    figure {
        margin: 0;
        .chart {
            object-fit: contain;
            object-position: center;
        }
    }
    .desc {
        h6 {
            @include boxHead(700,$black-clr-6,uppercase);
        }
        span {
            @include boxSpan($grey-clr-2,16px);
        }
    }
    .stats-info {
        h6 {
            @include boxHead(700,$black-clr-6,unset);
        }
        span {
            text-align: right;
            display: block;
            @include boxSpan($pr-green-clr,16px);
        }  
    }
}
