@use '../../utils' as *;

.profile-desc {
    h6 {
        @include proHead(-0.04px);
        margin-bottom: 8px;
    }
    span {
        line-height: normal;
        @include proPara();
    }
}

@include respond-to('tiny') {
    .profile-desc {
        h6 {
            font-size: 18px;
            margin-bottom: 0;
        }
        span {
            font-size: 12px;
        }
    }
}