@use '../../utils' as *;

.settings-ul{
    margin-top: 9px;
    li {
        &:not(:last-child) {
            margin-bottom: 35px;
        }
        a {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            gap: 18px;
            transition: all 0.2s ease-in-out;
            @include proLink();
            &::after {
                content: '';
                display: inline-flex;
                background: url(/images/icons/chevron-right.svg) center/contain no-repeat;
                height: 16px;
                width: 10px;
                margin: 0 0 0 auto;
                transition: all 0.2s ease-in-out;
            }
            &:hover {
                color: $green-clr;
                &::after {
                    transform: rotate(180deg);
                }
            }

        }
    }
}