@use '../../utils' as *;

.form-head {
    h6 {
        text-align: center;
        @include formXlHead();
    }
    p {
        text-align: center;
        margin: 16px 0 38px;
        @include formText(400,16px,-0.04px);
    }
}

@include respond-to('tiny') {
    .form-head {
        p {
            margin: 15px 0 15px;
        }
    } 
}