@use '../../utils' as *;

.login-area {
    background: url(/images/backgrounds/login-bg.svg) center/cover no-repeat;
    height: 100vh;
    padding: 50px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}